header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {

    border-radius: 15px;

}

/* 광고 배너 */



header #header-bar>.row {

    border-top: 5px solid #0086cd; /* 광고 배너 테두리 색 */

    border: 1px solid #0086cd; /* 광고 배너 테두리 색 */

}



/* 광고 배너 광고 뱃지 */



header #header-bar #header-top-notice strong.notice-badge {

    background: #0086cd; /* 광고 배너 광고 뱃지 배경 색상 */

}
