#main .menu-wrapper {

    border-radius: 10px 10px 0px 0px;

}



body {

    background: linear-gradient(to bottom, #ffffff, #0086cd);

    /* πÊ«‚ = to bottom, to right, to left, to top */

    height: auto;

}