header .row>div:nth-child(1)>a {

    display: block;

    width: 200px;

    height: 50px;

    background: url(https://cdn.discordapp.com/attachments/556286103238344727/570809524726923279/e36bcdb9f042428f.png) no-repeat; /* url(로고링크) */

    background-size: auto 50px;

}



header .row>div:nth-child(1)>a>img {

  display: none;

}
