/* 마우스 커서 포인터 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
 {
 cursor: url(https://cdn.discordapp.com/attachments/556286103238344727/569883666449432577/cp_alswo3000.png) 0 0, auto !important;
}


/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
 cursor: url(https://cdn.discordapp.com/attachments/556286103238344727/569883666449432577/cp_alswo3000.png) 0 0, auto !important;
}



/* 마우스 커서 텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
 {
 cursor: url(https://cdn.discordapp.com/attachments/556286103238344727/569883666449432577/cp_alswo3000.png) 0 0, auto !important;
}