header #header-bar>.row:before {

animation: sparkle 4s infinite linear;

 background: linear-gradient(90deg, #7FEFBD 0%, #FFF689 11%, #EC0B4322%, #7FEFBD 33%, #FFF689 44%, #EC0B43 55%, #7FEFBD 66%, #FFF68977%, #EC0B43 88%, #7FEFBD 100%);

background-size: 300% 100%;

content: '' ";

border-radius: 4px;

z-index: -1;

transform: scale(0.99);

position: absolute;

top: 70px;

 width: 1070px;

 height: 50px;

filter: blur(5px);

}



@keyframes sparkle {

  from {

    background-position: 0% 100%;

  }

  to {

    background-position: 200% 100%;

  }