/* °Ë»ö Ã¢ */
header #right-search-form>input[type='text'] {
	border: 2px solid var(#002fff);
	transition: .25s;
}
header #right-search-form>input[type='text']:hover,
header #right-search-form>input[type='text']:focus {
	transform: scale(1.05);
	transition: .25s;
}

/* °Ë»ö ¹öÆ° */
header #right-search-form>#right-search-btn {
	color: #002fff;
	transition: .25s;
}
header #right-search-form>#right-search-btn:hover,
header #right-search-form>#right-search-btn:focus {
	transform: scale(1.2);
	transition: .25s;
}
