@font-face { 
    font-family: '777Littlebear'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Littlebear.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

* {
    font-family: '777Littlebear';
}

