#movetotop img{display:none}

#movetotop{display: inline-block;opacity:1;background:url(https://github.com/to-sha/css/blob/master/%ED%98%BC%EB%AA%A8%EB%85%B8.png);    

width: 80px;  height: 80px;background-size: contain;

}