#movetotop img{display:none}

#movetotop{display: inline-block;opacity:1;background:url(https://upload.tgd.kr/20190421/e118411ffbf8df020bc6fe2efd434a61.png); 

   width: 80px;  height: 80px;background-size: contain;

}