#movetotop img{display:none}

#movetotop{display: inline-block;opacity:1;background:url(https://cdn.discordapp.com/attachments/556286103238344727/569739309092175883/-_.png); 

   width: 80px;  height: 80px;background-size: contain;

}
