#board-info #viewers-area #viewers:before {

    content: "지금 ";

    cursor: text;

    font-weight: bold;

color: #e05568;

}



#board-info #viewers-area #viewers:after {

    content: " 명이 인생 낭비중";

    cursor: text;

    font-weight: bold;

color: #e05568;

}
