#board-info #viewers-area #viewers:before {

    content: "비밀친구";

    cursor: text;

    font-weight: bold;

    .fa-user:before{

    color:bf4a61;

}



#viewers{

    color:bf4a61;

}

}



#board-info #viewers-area #viewers:after {

    content: "명 대기중";

    cursor: text;

    font-weight: bold;

.fa-user:before{

    color:bf4a61;

}



#viewers{

    color:bf4a61;

}

}
