/* 좌측 배너 */



#main .menu-wrapper {

    border: 1px solid #000000; /* 좌측 배너 테두리 색 */

    border-top: none !important;

}



/* 좌측 배너 헤더 */



#main .menu-wrapper>.header {

    background: #0086cd; /* 좌측 배너 제목 배경 색 */

    border-radius: 15px 15px 0 0;

}



/* 좌측 배너 빈 공간 */



#main .menu-wrapper .spacer {

    background: none;

}



/* 좌측 배너 하단 */



#main .menu-wrapper a:nth-last-child(1) {

    border-radius: 0px 0px 15px 15px;

}