header .row>div:nth-child(1)>a:after{

    position: absolute;

    left: ; /* (로고 너비 + 15)px */

        /* ex) left: 160px; */

    top: 5px;

    background-image: url(https://cdn.discordapp.com/attachments/556286103238344727/569833786259537920/89151f2a591fb67c.png); /* 들어갈 이미지 경로 */

    background-size: 40px 40px;

    display: inline-block;

    width: 40px;

    height: 40px;

    content: "";

}