header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {

    border-radius: 16px;

}



#main .menu-wrapper>.header {

    border-radius: 16px 16px 0 0;

}



#main .menu-wrapper a:nth-last-child(1) {

    border-radius: 0px 0px 16px 16px;

}
